@import '/src/styles/base/colors';
@import '/src/styles/abstracts/mixins/responsive';


.actionButton {
    min-width: 65px;
}

.card {
    border: 1px solid #E5EFFF;
    box-shadow: 20px 0px 50px rgba(66, 135, 245, 0.13);
    border-radius: 19px;
    height: 100%;
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0px auto;
     
 

    .title {
        position: relative;
        display: block;
        padding-right: 15px;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 5px;
            background: #0BC0CF;
        }
    }

    .chart {
        flex: 0 0 20%;
        max-width: 20%;
        min-height: 150px;
        position: relative;
        border: 1px solid #E6EBFD;
        border-radius: 20px;
        overflow: hidden;

        .gradient {
            padding: 12px;
            width: 100%;
            position: relative;
            background: rgb(254, 230, 229);
            background: linear-gradient(0deg, rgba(254, 230, 229, 0) 0%, rgba(254, 230, 229, 0.7) 100%);

            &.up {
                background: rgb(223, 248, 237);
                background: linear-gradient(0deg, rgba(223, 248, 237, 0) 0%, rgba(223, 248, 237, 0.7) 100%);
            }

            .deatails {
                display: flex;
                justify-content: space-between;
                z-index: 9;

                .largeText {
                    font-size: 1.2rem;
                }

                p,
                span {
                    align-items: center;
                }
            }

        }

    }

    .priceList {
        flex: 0 0 80%;
        max-width: 80%;

        .items {
            border-left: 1px solid #E6EBFD;

            &:last-child {
                border-left: none;
            }
        }
    }
}




@include breakpoint(md) {
    .card {
        .chart {
            margin-bottom: 30px;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .priceList {
            flex: 0 0 100%;
            max-width: 100%;

            .items {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@include breakpoint(sm) {
    .card {
        max-width: 350px;
    }
}