.pagination {
  // background-color: red;

  li {
    a {
      font-family: "FaNum";
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
    }

    transition: all 0.3s ease-in;
    border-radius: 8px;

    &:hover {
      background: #E5EBFF;

    }
  }

  .active {
    // border-bottom: 1px solid #0072ff !important;
    background: #E5EBFF;
    border-radius: 8px;
  }

}