// @import '../../../styles/abstracts/mixins/responsive';
@import '/src/styles/abstracts/mixins/responsive';
@import '/src/styles/base/colors';

.currencyCol {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;

    &.activeCol {


        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid white;
            position: absolute;
            bottom: -16px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 9;
        }
    }
}

.currencyPrice {
    min-height: 600px;
}

.deatailCurrency {
    position: absolute;
    top: 330px;
}

.responsiveMore {
    display: none !important;

    .icon {
        background-color: $blue;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        color: #fff;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 7px rgba($color: #284DD8, $alpha: 0.33);

        svg {
            font-size: 1.4rem;

        }
    }
}

@include breakpoint(md) {
    .currencyPrice {
        margin-left: -5px;
        margin-right: -5px;
        min-height: 830px;
    }

    .responsiveMore {
        display: flex !important;
    }

    .more {
        display: none !important;
    }

    .currencyCol {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 5px;
        // margin-bottom: 30px;
    }

    .deatailCurrency {
        // position: relative;
        // top: auto;
        padding: 0 5px;
    }

}



@include breakpoint(sm) {
    .currencyPrice {
        min-height: auto;
        margin-left: -15px;
        margin-right: -15px;
    }


    .currencyCol {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0 15px;

        &.activeCol {
            &:after {
               bottom: -31px;
            }
        }
    }

    .deatailCurrency {
        position: relative;
        top: auto;
        padding: 0 15px;
        margin-top: 0 !important;
    }

}