@import "/src/assets/scss/mixins/responsive";

.box {
  overflow: hidden;

  // box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.08),
  //   0 30px 60px -30px rgba(0, 0, 0, 0.14),
  //   inset 0 -2px 6px 0 rgba(10, 37, 64, 0.22);
  // background: #fff;
  .shadow {}

  .selection {
    border: 1px solid var(--main-gray-border); 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);

    img.imgIcon {
      width: 30px;
      height: 30px;
    }
  }
}

.arrowBox {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    width: 51%;
    height: 2px;
    background-color: #dee2f0;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.changeAsset {
  cursor: pointer;

  &:hover {
    color: var(--main-blue);
  }
}

.arrow {
  position: absolute;
  // top: 95%;
  left: 10px;
  border: solid #dee2f0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

@include breakpoint(xs) {
  .xsFullWidth {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (max-width: 1500px) {
  .numInput {
    padding-right: 0px !important;
  }
}