.filterBlur{
  filter: blur(5px);
  transition: 1s all;


}
.Visible{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.VisibleActive{
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}
.btnGray{
  height: 40px;
  background: #F5F7F8;
  color: #515765;
  border: 1px solid #D9E0E9;
  border-radius: 12px;


}