@import "./font";
@import "./mixins/responsive";

* {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  font-family: "IRANyekan";

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #969caa;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e8edf2;
  }

  &::-moz-scrollbar {
    width: 4px;
  }

  &::-moz-scrollbar-thumb {
    border-radius: 10px;
    background: #969caa;
  }

  &::-moz-scrollbar-track {
    border-radius: 10px;
    background-color: #e8edf2;
  }

  &::-ms-scrollbar {
    width: 4px;
  }

  &::-ms-scrollbar-thumb {
    border-radius: 10px;
    background: #969caa;
  }

  &::-ms-scrollbar-track {
    border-radius: 10px;
    background-color: #e8edf2;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  position: relative;
  overflow-x: hidden;
  direction: rtl;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--main-bg-light);
}

@include breakpoint(lg) {
  html,
  body {
    font-size: 15.5px;
  }
}

@include breakpoint(md) {
  html,
  body {
    font-size: 15px;
  }
}

@include breakpoint(sm) {
  html,
  body {
    font-size: 14.5px;
  }
}

@include breakpoint(xs) {
  html,
  body {
    font-size: 14px;
  }
}

html,
body {
  // height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center -20px;
}

a,
span,
p {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.FaNum {
  font-family: "FaNum" !important;
}

@include breakpoint(sm) {
  h3,
  .h3 {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  h4,
  .h4 {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

:root {
  --main-bg-dark: #1f2124;
  --main-gray-0: #d0d5df;
  --main-gray-05: #bcc1cd;
  --main-gray-1: #afb7cb;
  --main-gray-2: #959db0;
  --main-gray-3: #70798e;
  --main-gray-4: #515765;
  --main-gray-5: #303540;
  --main-gray-border: #d9e0e9;
  --main-bg-light: #f5f7f8;
  --main-bg-light-2: #e8edf2;
  --main-purple: #6059e8;
  --main-purple-2: #4d46cf;
  --main-purple-grd: linear-gradient(90deg, #6059e8 0%, #b1aee8 99.5%);
  --main-purple-light: rgba(170, 169, 221, 0.5);
  --main-purple-light-30: rgba(170, 169, 221, 0.3);
  --main-yellow: #f0b90b;
  --main-yellow-2: #c0980a;
  --main-orange: #fb8c00;
  --main-green: #26ab6d;
  --main-green-2: #198c57;
  --main-red: #ed5254;
  --main-red-2: #d94345;
  --main-blue: #00baba;
  --main-blue-2: #00a4a4;
  --main-hover-bg: rgba(0, 142, 142, 0.06);
  --main-blue-50: rgba(0, 186, 186, 0.5);
  --main-blue-30: rgba(0, 186, 186, 0.3);
  --main-blue-light: rgba(0, 186, 186, 0.06);
  --main-blue-grd: linear-gradient(90deg, #02baba 0%, #a7e3e3 99.5%);
  --main-warning-bg: rgba(251, 140, 0, 0.1);
}
