 

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebRegular.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebRegular.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 700;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebBold.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebBold.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 100;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebThin.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebThin.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebThin.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 300;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebLight.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebLight.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebLight.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 500;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebMedium.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebMedium.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 800;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebExtraBold.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebExtraBold.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 850;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebBlack.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebBlack.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    font-style: normal;
    font-weight: 900;
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebExtraBlack.eot');
    src: url('../../../public/fonts/iran-yekan/eot/IRANYekanWebExtraBlack.eot') format('embedded-opentype'),
        url('../../../public/fonts/iran-yekan/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
}


@font-face {
    font-family: 'FaNum';
    font-style: normal;
    font-weight: normal;
    src: url("../../../public/fonts/iran-sans/IRANSans_FaNum.ttf") format("truetype");
}